<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <a href="https://www.instagram.com/tapesh_karkel/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/tapesh-karkel-900b1a2b8/" target="_blank"><i class="fa-brands fa-square-linkedin"></i></a>
        </div>
        
        <div class="f-info-brand"> &copy; WandurLust Private Limited</div>
       
        <div class="f-info-links">
            <a href="/privacy">Privacy &amp; Terms</a>
        </div>
    </div>
</footer>